/* =========================================
   MAIN LAYOUT PANELS
========================================= */
.panel {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 340px;
    z-index: 10;
    background: var(--theme-bg);
    border: 2px solid var(--theme-border);
    box-shadow: 0 0 15px var(--theme-shadow), inset 0 0 18px var(--theme-shadow-inset);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    overflow-y: auto;
    scrollbar-width: none;
}
.panel::-webkit-scrollbar { 
    display: none;
}
#panel-left { 
    left: 0;
} 

#panel-right { 
    right: 0;
    pointer-events: auto;
}